// app global css in Stylus form
.doc-page {
    padding: 16px 46px;
    font-weight: 300;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.doc-h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 0;
    font-weight: 500;
}

.doc-h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.5rem 0;
    font-weight: 500;
}

.doc-heading {
    color: #1976d2;
    cursor: pointer;
}

.b-top {
    border-top: 1px solid #ccc;
    padding: 1rem 0 1rem 0;    
}