  @font-face {
    font-family: teko;
    src: url('fonts/Teko-Light.ttf');
    font-weight: 100;
  }
  
  @font-face {
    font-family: teko;
    src: url('fonts/Teko-Medium.ttf');
    font-weight: 300;
  }
  @font-face {
    font-family: teko;
    src: url('fonts/Teko-Bold.ttf');
    font-weight: 700;
  }
  @font-face {
    font-family: teko;
    src: url('fonts/Teko-Medium.ttf');
    font-weight: 300;
  }
  body {
    font-size: 16px;
  }
  #rect-eliminated {
    width: 100%;
    overflow: auto;
  }
  #rect-eliminated-box {
    width: 15rem;
    height: 8rem;
    background-image: url('assets/rect-eliminated.png');
    background-size: cover;
  }
  #rect-eliminated-content {
    padding-top: 1.75rem;
    font-family: teko;
  }
  #rect-eliminated-content-title {
    color: #eac100;
    text-shadow: 0 0.1rem 0.1rem #303030;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: -2px;
  }
  #rect-eliminated-content-sub #rect-eliminated-content-sub-number {
    color: #eac100;
    text-shadow: 0 0.1rem 0.1rem #303030;
    font-size: 1.9rem;
    padding-left: 1.2rem;
    float: left;
    margin-top: -5px;
  }
  #rect-eliminated-content-sub #rect-eliminated-content-sub-logo {
    height: 2rem;
    width: 2rem;
    margin-left: 1.7rem;
    float: left;
  } 
  #rect-eliminated-content-sub #rect-eliminated-content-sub-name {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
  #rect-eliminated-content-sub-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* survivors  */
  #rect-survivors {
    position: relative;
    margin-top: 10%;
    overflow: auto;
  
  }
  #rect-survivors-box {
    margin-top: 1rem;
    width: 26rem;
  }
  
  #rect-survivors-title {
    height: 3.5rem;
    background-color: #eac100;
    box-shadow: 0 0 1rem #eac100, inset 0 0 1rem #f8e181;
  }

  #rect-survivors-title h1 {
    font-family: teko;
    font-size: 2.5rem;
    color: black;
    text-align: center;
    text-shadow: 0 0.1rem 0.1rem #303030;
    padding-top: 0.5rem;
  }

  #rect-survivors-title-bg {
    position: absolute;
    top: -1rem;
    left: -1rem;
    height: 6rem;
    width: 35rem;
    background-image: url('assets/rect-survivors-title.png');
    background-size: cover;
    z-index: -1;
  }
  
  .rect-survivors-item {
    height: 3.9rem;
    background-color: rgba(0,0,0,0.3);
  }
  .rect-survivors-item .rect-survivors-item-logo {
    box-sizing: border-box;
    padding: 0.5rem;
    height: 100%;
    width: 3.9rem !important;
    float: left;
  }
  .rect-survivors-item .rect-survivors-item-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .rect-survivors-item-name {
    font-family: teko;
    font-size: 1.8rem;
    color: white;
    text-shadow: 0 0.1rem 0.1rem #303030;
    padding-top: 0.6rem;
    padding-left: 2rem;
    padding-right: 1rem;
    min-width: 180px;
    float: left;
  }
  .rect-survivors-item-alive {
    background-image: url('assets/rect-survivors-item-alive.png');
    width: 100px;
    height: 30px;
    margin-top: 0.9rem;
    float: left;
  }
  .rect-survivors-item-kills {
    float: left;
    padding-top: 0.3rem;
  }
  .rect-survivors-item-kills .rect-survivors-item-kills-number {
    font-family: teko;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0.1rem 0.1rem #303030;
    float: left;
  }
  .rect-survivors-item-kills .rect-survivors-item-kills-text {
    font-family: teko;
    font-size: 1.6rem;
    color: white;
    text-shadow: 0 0.1rem 0.1rem #303030;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    float: left;
  }

  /* COMPARE */
  #rect-compare {
    background-image: url('assets/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
  }
  .rect-compare-default-bg {
    background-color: #dcab16;
    background-image: linear-gradie nt(#dc9016, #dcab16);
    border-radius: 0.2rem;
    box-shadow: 0 0 0.4rem #eac100, inset 0 0 1rem #f8e181;
  }
  .rect-compare-black-bg {
    background-image: linear-gradient(#181818, #222222);
    border-radius: 0.2rem;
    /* box-shadow: 0 0 0.4rem #eac100, inset 0 0 1rem #f8e181; */
  }

  #rect-compare {
    overflow: auto;
    width: 100%;
  }

  #rect-compare-box {
    box-sizing: border-box;
    margin-top: 17vw;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow: auto;
  }

  .rect-compare-player-card {
    padding-top: 2.5rem;
    width: 25%;
    height: 27.5rem;
    float: left;
  }
  .rect-compare-player-card-img {
    margin-left: auto;
    margin-right: auto;
    height: 15rem;
    width: 12rem; 
  }
  .rect-compare-player-card-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .rect-compare-player-card h1 {
    text-align: center;
    font-family: teko;
    font-size: 2.5rem;
    padding-top: 4rem;
    color: black;
    text-shadow: 0 0.1rem 0.1rem #303030;
  }
  #rect-compare-player-statistic {
    width: 50%;
    float: left;
  }
  #rect-compare-player-statistic-title {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    text-align: center;
    font-family: teko;
    font-weight: 450;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    color: black;
    text-shadow: 0 0.1rem 0.1rem #303030;
  }
  #rect-compare-player-statistic-x {
    text-align: center;
    font-family: teko;
    font-weight: 450;
    color: white;
    padding-top: 0.9rem;
    padding-bottom: 0rem !important;
    line-height: normal;
    font-size: 4rem;
    margin-top: -1.4rem;
    margin-bottom: -1.4rem;
  }
  .rect-compare-player-statistic-stats {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    font-family: teko;
    color: white;
    overflow: hidden;
    box-shadow: 0 -0.2rem 0.3rem 0.1rem #4b4b4b inset;
    margin-bottom: 0.5rem;
  }
  .rect-compare-player-statistic-stats .rect-compare-player-statistic-stats-number {
    width: 25%;
    font-family: teko;
    font-size: 2rem;
    color: #dcab16;
    text-align: center;
    text-shadow: 0 0.1rem 0.1rem #303030;
    float: left;
  }
  .rect-compare-player-statistic-stats .rect-compare-player-statistic-stats-name {
    box-sizing: border-box;
    width: 50%;
    font-family: teko;
    font-size: 2rem;
    color: white;
    text-align: center;
    text-shadow: 0 0.1rem 0.1rem #303030;
    float: left;
    border-left: 2px solid #dcab16;
    border-right: 2px solid #dcab16;
  }
  #rect-compare-player-statistic-stats-logo {
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.2rem;
    margin-left: auto;
    margin-right: auto;
  }
  #rect-compare-player-statistic-stats-logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  /* TEAM PLAYER */
  
  @font-face {
    font-family: teko;
    src: url('fonts/Teko-Medium.ttf');
    font-weight: 300;
  }
  body {
    font-size: 16px;
    font-family: teko;
  }
  #rect-teamplayer {
    width: 100%;
    overflow: auto;
  }
  #rect-teamplayer-bg {
    position: absolute;
    margin-top: 2.5rem;
    background-color: #d8a51c;
    box-shadow: 0 0 0.2rem #f7d477, inset 0 0 1rem #f7d477;
    transform: skew(15deg);
    border-radius: 0.5rem;
    right: -5rem;
    height: 7rem;
    width: 24rem;
    z-index: -1;
  }
  .rect-teamplayer-text {
    float: right;
    margin-top: 2rem;
    padding: 1.5rem;
    padding-left: 8rem;
    line-height: 0.8;
  }
  .rect-teamplayer-text p {
    font-family: teko;
    text-shadow: 0 0.1rem 0.1rem #303030;
    font-size: 2.5rem;
    text-align: right;
    color: black;
    letter-spacing: 0.1rem;
  }

  /* css do bruno */

/* OVERALLCSS */

#overall-stats {
    background: black;
    position: absolute;
    border-width: 10px;
    bottom: 0;
    right: 0;
    z-index: -2;
    border-left: 5px solid;
    width: 17rem;
    max-width: 17rem;
    font-family: teko;
    font-size: 26px;
}

.ovg-text-area {
    margin-top: 11rem;
}

.ovg-player-info p {
    margin-bottom: 0;
}

.ovg-team-img {
    margin-top: 40px;
    text-align: center;
}

.ovg-player-info {
    font-weight: bold;
    padding: 20px;
}

.ovg-player-info {
    font-weight: bold;
    padding: 20px;
}

/* ANIMATIONS */
.fade-slow-enter-active {
  transition: opacity .8s;
} 

.fade-slow-leave-active {
  transition: opacity .3s;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-slow-enter, .fade-slow-leave-to,
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-slow-enter-active, .fade-slow-leave-active {
  transition: opacity .8s;
}

.fade-text-enter, .fade-text-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

/* Animações de entrada e saída podem utilizar diferentes  */
/* funções de duração e de tempo.                          */
.slide-fade-enter-active {
transition: all 0.6s ease;
}
.slide-fade-leave-active {
transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
transform: translateX(10px);
opacity: 0;
}

