<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        html,
        body {
            height: 100%;
            background-color: #333;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            color: #fff;
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
            align-items: center;
        }

        #ovg-stats {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #survivors {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #selectedTeam {
            margin-bottom: 10px;
        }


    </style>
</head>
    <div id="v-app" class="container h-100">
        <div class="p-3">
            <h1 class="text-center">Overlay Control Center</h1>
            <form action="">
                <div id="ovg-stats" class="container border border-secondary p-3">
                    <h3 >Overall Stats</h3>
                    <div class="form-group">
                        <label for="playerSelect">Nome do jogador</label>
                        <select v-model="selected" class="form-control" id="playerSelect">
                            <option v-for="p in allPlayers" v-bind:value="{id: p.uId, name: p.playerName, kills: p.kills, avgDamage: p.avgDamage, killDistance: p.killDistance, teamLogo: p.teamLogo}">{{ p.playerName }}</option>
                        </select>
                    </div>
                    <button class="btn btn-lg btn-info" type="button" v-on:click="toggleOverallVisibility()">Toggle Overlay</button>
                </div>
                <div id="player-comparation" class="container border border border-secondary p-3">
                    <h3>Comparação dos players</h3>
                    <div class="form-group">
                        <label for="playerSelect1">Nome do jogador 1</label>
                        <select v-model="selectedCompare1" class="form-control" id="playerSelectComparation1">
                            <option v-for="p in allPlayers" v-bind:value="{id: p.uId, name: p.playerName, kills: p.kills, squadKills: p.squadKills, teamPlace: p.teamPlace, teamLogo: p.teamLogo}">{{ p.playerName }}</option>
                        </select>
                        <label for="playerSelect2">Nome do jogador 2</label>
                        <select v-model="selectedCompare2" class="form-control" id="playerSelectComparation2">
                            <option v-for="p in allPlayers" v-bind:value="{id: p.uId, name: p.playerName, kills: p.kills, squadKills: p.squadKills, teamPlace: p.teamPlace, teamLogo: p.teamLogo}">{{ p.playerName }}</option>
                        </select>
                    </div>
                    <button class="btn btn-lg btn-info" type="button" v-on:click="toggleCompareVisibility()">Toggle Overlay</button>
                </div>
                <div id="survivors" class="container border border-secondary p-3">
                    <h3 >Sobreviventes</h3>
                    <button class="btn btn-lg btn-info" type="button" v-on:click="toggleSurvivorsVisibility()">Toggle Overlay</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        var app = new Vue({
            el: '#v-app',
            data: {
                title: 'Websockets tester',
                allPlayers: [],
                allTeams: [],
                selected: '',
                selectedCompare1: '',
                selectedCompare2: '',
            },
            methods: {
                toggleOverallVisibility() {
                    const request = {
                        action: {
                            name: 'OVERLAY',
                            target: 'OVERALL', 
                        },
                        data: {
                            teamLogo: this.selected.teamLogo,
                            player: {
                                name: this.selected.playerName,
                                kills: this.selected.kills,
                                avgDamage: this.selected.avgDamage,
                                killDistance: this.selected.killDistance,
                            }
                        }
                    }

                    this.socket.emit('msgToServer', request);
                },
                toggleCompareVisibility() {
                    const request = {
                        action: {
                            name: 'OVERLAY',
                            target: 'PLAYERCOMPARE', 
                        },
                        data: {
                            playerOne: this.selectedCompare1,
                            playerTwo: this.selectedCompare2,
                        }
                    }
                    
                    this.socket.emit('msgToServer', request);
                },
                toggleSurvivorsVisibility() {
                    this.socket.emit('survivorsServer', '123');
                },
            },
            created() {
                this.socket = io("http://localhost:3000");
                this.socket.on('update', (payload)=> {
                    this.allPlayers = payload.players;
                    this.allTeams = payload.teams;
                });
            }
        });
    </script>
</body>
</html>