<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div id="v-app">
        <transition name="fade">
            <div id="rect-eliminated" v-if="teamEliminated.visibility">
                <div id="rect-eliminated-box">
                    <div id="rect-eliminated-content">
                        <div id="rect-eliminated-content-title">TIME ELIMINADO</div>
                        <div id="rect-eliminated-content-sub">
                            <div id="rect-eliminated-content-sub-number">#{{teamEliminated.data.position}}</div>
                            <div id="rect-eliminated-content-sub-logo"><img v-bind:src="teamEliminated.data.teamLogo"></div>
                            <div id="rect-eliminated-content-sub-name">{{teamEliminated.data.teamName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div id="rect-compare" v-if="playerCompare.visibility" class="vh-100">
                <div id="rect-compare-box">
                    <div class="rect-compare-player-card rect-compare-default-bg">
                        <div class="rect-compare-player-card-img">
                            <img v-bind:src="playerCompare.data.playerOne.teamLogo"></img>
                        </div>
                        <h1>{{playerCompare.data.playerOne.playerName}}</h1>
                    </div>
                    <div id="rect-compare-player-statistic">
                        <div class="rect-compare-default-bg" id="rect-compare-player-statistic-title">
                            PLAYER STATISTICS
                        </div>
                        <div id="rect-compare-player-statistic-x">
                            X
                        </div>
                        <div class="rect-compare-player-statistic-stats rect-compare-black-bg">
                            <div class="rect-compare-player-statistic-stats-number">
                                {{playerCompare.data.playerOne.kills}}</div>
                            <div class="rect-compare-player-statistic-stats-name">KILLS</div>
                            <div class="rect-compare-player-statistic-stats-number">
                                {{playerCompare.data.playerTwo.kills}}</div>
                        </div>
                        <div class="rect-compare-player-statistic-stats rect-compare-black-bg">
                            <div class="rect-compare-player-statistic-stats-number">
                                {{playerCompare.data.playerOne.squadKills}}</div>
                            <div class="rect-compare-player-statistic-stats-name">SQUAD KILLS</div>
                            <div class="rect-compare-player-statistic-stats-number">
                                {{playerCompare.data.playerTwo.squadKills}}</div>
                        </div>
                        <div class="rect-compare-player-statistic-stats rect-compare-black-bg">
                            <div class="rect-compare-player-statistic-stats-number">
                                {{playerCompare.data.playerOne.teamPlace}}</div>
                            <div class="rect-compare-player-statistic-stats-name">TEAM PLACE</div>
                            <div class="rect-compare-player-statistic-stats-number">
                                {{playerCompare.data.playerTwo.teamPlace}}</div>
                        </div>
                        <div class="rect-compare-player-statistic-stats rect-compare-black-bg">
                            <div id="rect-compare-player-statistic-stats-logo">
                                <img src="assets/PMCO-logo.png"></img>
                            </div>
                        </div>
                    </div>
                    <div class="rect-compare-player-card rect-compare-default-bg">
                        <div class="rect-compare-player-card-img">
                            <img v-bind:src="playerCompare.data.playerTwo.teamLogo"></img>
                        </div>
                        <h1>{{playerCompare.data.playerTwo.playerName}}</h1>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div v-if="overall.visibility">
                <div id="rect-teamplayer-bg"></div>
                <div id="rect-teamplayer">
                    <div class="rect-teamplayer-text">
                        <p>Fase de Grupos</p>
                        <p>Overall Stats</p>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="slide-fade">
            <div id="overall-stats" class="w-17 h-100 border-warning" v-if="overall.visibility">
                <div class="container ovg-text-area">
                    <div class="ovg-team-img">
                        <img v-bind:src="overall.data.teamLogo" alt="" width="150" height="150">
                    </div>
                    <div class="ovg-player-info">
                        <h3 id="ovg-player-name" class="text-warning">{{overall.data.player.name}}</h3>
                        <p id="ovg-player-kills" class="text-white">{{overall.data.player.kills}} <span
                                class="text-warning">KILLS</span></p>
                        <p id="ovg-player-avg-damage" class="text-white">{{overall.data.player.avgDamage}} <span
                                class="text-warning">AVG DAMAGE</span></p>
                        <p id="ovg-player-kill-distance" class="text-white">{{overall.data.player.killDistance}}m <span
                                class="text-warning">KILL DISTANCE</span></p>
                    </div>
                </div>
            </div>
        </transition>
    </div>
    <script>
        var app = new Vue({
            el: '#v-app',
            data: {
                teamEliminated: {
                    visibility: false,
                    queue: [],
                    data: {
                        position: 0,
                        teamLogo: '',
                        teamName: ''
                    }
                },
                playerCompare: {
                    visibility: false,
                    data: {
                        playerOne: {},
                        playerTwo: {}
                    }
                },
                overall: {
                    visibility: false,
                    data: {
                        teamLogo: '',
                        player: {
                            name: '',
                            kills: 0,
                            avgDamage: 0,
                            killDistance: 0,
                        }
                    }
                }
            },
            methods: {
                displayHandler(request) {
                    switch (request.action.target) {
                        case 'OVERALL':
                            console.log(request);
                            this.overall.data = request.data;
                            this.overall.visibility = !this.overall.visibility;
                            break;
                        case 'PLAYERCOMPARE':
                            this.playerCompare.data = request.data;
                            this.playerCompare.visibility = !this.playerCompare.visibility;
                            break;
                        case 'TEAMELIMINATED':
                            this.teamEliminated.data = request.data;
                            this.teamEliminated.visibility = !this.teamEliminated.visibility;
                            
                            setTimeout(()=>{
                                this.teamEliminated.visibility = !this.teamEliminated.visibility;
                            }, 3000);
                            
                    };
                }
            },
            created() {
                this.socket = io("http://localhost:3000");
                this.socket.on('msgToClient', (request) => {
                    this.displayHandler(request);
                });
            },
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>